## User settings
xcuserdata/

## Framework
*/NavigationTests/ViewControllerPresentationSpy.xcframework/
NavigationTests/ViewControllerPresentationSpy.xcframework/*
NavigationTests/ViewControllerPresentationSpy.xcframework

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout