<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OutletConnections.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A5EA58F29C9191B00139D77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A5EA5A529C9191E00139D77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A5EA5AF29C9191E00139D77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
